@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
;

/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* custom css */
main h1 {
    font-size: 48px;
    font-weight: 700;
    color: #31A5AC;
}

.right-content {
    height: 741px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
}

small {
    display: block;
}

.btn-calc {
    position: relative;
    left: 12rem;
}